


*{
    font-family: Arial, Helvetica, sans-serif;
}
body{
    margin: 0;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background-color: rgb(39, 180, 202);
}
.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 10%;
    margin-top: 80px;
    padding: 3% 10%;
    transition: ease-in-out 2s;
   
}

.Prof {
    border-radius: 39% 61% 70% 30% / 80% 71% 29% 20% ;
    position: absolute;
    z-index: 1;
    margin-left: 50px;
    
    
    
}

button {
    background-color: #fefffd;
    height: 40px;
    width: 90px;
    border-radius: 11px;
    color: rgb(39, 158, 65);
    border-color: aqua;
   

}
.classR{
    position: relative;
}
 
  
  

 
h1{
    color: rgb(5, 22, 54);

}
.project{
    font-weight: 700;
    margin-top: 200px;
    font-size: 27px;
    margin-left: 530px;
    color: rgb(5, 27, 75);
}
.p{
    display: flex;
    
   
    justify-content: space-between;
    align-items: center;
    margin: 0 10%;
    margin-top: 80px;
    padding: 3% 10%;
    transition: ease-in-out 2s;
}